/* Reset básico */
body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Segoe UI', sans-serif;
}

/* Encabezado */
header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

/* Sección Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 4rem 4rem;
  background-color: #d6c7bd;
  min-height: 100vh;
  box-sizing: border-box;
}

.hero-text {
  max-width: 500px;
  color: #333;
}

.hero-text h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.boton {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #d6c7bd;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  background-color: #c6cfcf;
  color: #333;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #acb6b3;
  color: #000;
}

.hero-img img {
  width: 300px;
  height: auto;
  margin-right: 1rem;
  margin-top: 2rem;
  object-fit: contain;
}
